<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{{site.baseurl}}">Arsha</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!-- {% for page in site.pages %}
          <li><a href="{{site.baseurl}}{{page.permalink}}">{{page.title}}</a></li>
          {% endfor %} -->
          <li><a href="{{site.baseurl}}">Home</a></li>
          <li><a href="{{site.baseurl}}/about">About</a></li>
          <li><a href="{{site.baseurl}}/services">Services</a></li>
          <li><a href="{{site.baseurl}}/faq">faq</a></li>
          <li><a href="{{site.baseurl}}/team">Team</a></li>
          <li><a href="{{site.baseurl}}/contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    

    </div>
  </header>